
@{
    ViewData["Title"] = "BeachEvents";
}

<h1>BeachEvents</h1>
@model IEnumerable<Praias>

<p>Eventos na: @ViewBag.SelectedBeach</p>


<div class="events-grid">
    @foreach (var eventItem in Model)
    {
        <div class="event-item">
            <img src="@eventItem.nome" alt="@eventItem.descriçao" />
            <p>@eventItem.preços</p>
        </div>
    }
</div>

<style>
    .events-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    .event-item {
        text-align: center;
    }

        .event-item img {
            width: 100%;
            height: auto;
        }
</style>

